html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}
.logo {
  float: left;
  margin-left: 9px;
  background-image: url('images/logo.png');
  width:250px;
  height:58px;
  background-repeat: no-repeat;
}

.filename{
  position: relative;
  _display: inline-block;
}

svg {
  width:5555px;
  height:5555px;
	user-select: none; 
  font-size: 11px;
}

text {
  cursor: default;
  fill: black;
}

/* toolbar */	
.toolbar{
  position: fixed;
  top: 0px;
  width: 99%;
  height: 58px;
  background-color:#d3e3fd;
  padding: 5px; 
  z-index:1;
  min-width: 1300px;
}

.toolbarFunction {
  position: relative;
  display: inline-block;
  top: 5px;
}

.toggle-diagram,
.toggle-view-mode {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 8px 16px;
  cursor: pointer;
}

.toggle-diagram.active, .toggle-view-mode.active {
  background-color: #ccc;
}

.dropdown{
  position : relative;
  display : inline-block;
}

.dropbtn{
  border: 1px solid #ccc;
  border-radius : 4px;
  padding: 8px 16px;
  width :100px;
  text-align: left;
  cursor : pointer;
}
.dropdown-content{
  border: 1px solid #ccc;
  display : none;
  position : absolute;
  z-index : 1;
  background-color: #f9f9f9;
  min-width : 100px;
}

.dropdown-content a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
  user-select: none; 
  cursor: pointer;
}

.dropdown-content a:hover{
  background-color : #ececec;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.selectRect {
  fill: none;
  stroke: gray;
  cursor: default;
  _stroke-width: 1;
}

.basicRectShape {
  fill: transparent;
  stroke: black;
  stroke-width: 1; 
}

.basicRectText {
  fill: transparent;
  stroke-width: 0; 
}

.selectedEntity {
  stroke: blue;
  stroke-width: 1.5; 
}

.selectedField {
  fill: blue;
}

.findEntityDiv {
  position: fixed;
  top: 5px;
  right: 50px;
  transition: width 1s;
  width: 30px;
  overflow: hidden;
  height: 21px;
}

.findEntityDiv input{
  border: 0px;
  width: 120px;
  height: 19px;
}

.findEntityDiv input:focus {
  background-color: #ffff00;
}

.findEntityDiv.expanded{
  width: 220px;
}

/* Popup Dialog*/	
.erd9Dialog {
	display: none; 
	position: fixed;
	z-index: 1000; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgba(0, 0, 0, 0.4); 
  _user-select: none;
}

.erd9Dialog H4{
  margin: 0px 0px;
  padding: 10px 0px;
  cursor: move;
}

.erd9Dialog-content {
  position: fixed;
  _top: 50%;
  _left: 50%;
  _transform: translate(-50%, -50%);

	background-color: #fefefe;
	_margin: 15% auto; 
	padding: 10px 20px 10px 20px;
	border: 1px solid #888;
  width: 560px;
  _font-size: 11pt;
	_max-width: 600px;
}

.erd9Dialog-content.wide {
  width: 700px;
}

.erd9Dialog-content span{
  font-size: 10pt;
}

.erd9Dialog-content p, .erd9Dialog-content div {
  font-size: 10pt;
  line-height: 1.3;
}

.erd9Dialog-content .relationOption{
  border: 1px solid lightgray;
  padding: 5px;
  margin: 10px;
  font-size: 10pt;
}

.erd9Dialog_close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.erd9Dialog_close:hover,
.erd9Dialog_close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.erd9Dialog-toolbar {
	padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.erd9Dialog_toolbar1 {
	padding: 10px;
  height: 16px;
}

.erd9Dialog_toolbar1 label{
  font-size: 10pt;
}


.erd9Dialog_toolbar_left {
  float: left;
}

.erd9Dialog_toolbar_right {
  float: right;
}

.erd9Dialog-toolbar button{
	margin-right: 10px;
}

.erd9Dialog-explain,
.erd9Dialog-explain4importDDL {
  margin: 5px;
  font-size: 10pt;
}

.erd9Dialog-explain4importDDL {
  display: inline-block;
}

.erd9Dialog-tabMenu {
  position: absolute;
  top: 40px;
  left: 559px;
}

.otherLink {
  margin-left: 10px;
  text-decoration: none;
}
/* -------------------------- */
.erd9Dialog-grid {
	font-size: 11px;
	width: 100%;
  height: 200px;
  overflow: auto;	
  border: 1px solid;    
}

.erd9Dialog-content .tablename {
  position: relative;
  margin-bottom: 8px;
}

.erd9Dialog-content .tablename button{
  position: absolute;
  left: 604px;
}

.erd9Dialog-grid table, .tab-logger table {
  border-collapse: collapse;
}

.erd9Dialog-grid th, .tab-logger th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
  background-color: lightgray;
  height: 19px;
}
.erd9Dialog-grid td, .tab-logger td {
  border: 1px solid black;
  height: 19px;
  padding: 2px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
.tab-logger .changePK {
  text-align: center;
  cursor: pointer;
}

.mousePointer {
  cursor: pointer;
}

.erd9Dialog-grid .input-cell {
  width: 90%;
  border: none;
  outline: none; 
  font-size: inherit;
  background-color: inherit;
}
.erd9Dialog-grid .sbFieldType {
  position: fixed;
  width: 20px;
border: none;
font-size: 14px;
background-color: inherit;
text-align: center;
cursor: pointer;
}

.erd9Dialog-grid .sbFieldTypeList {
  position: fixed; 
  display: none;
  width: 100px;
  outline: none; 
  font-size: 11px;
  background-color: white;
  height: 150px;
}

.erd9Dialog-grid .sbFieldType select {
   display: none;
}	

.erd9Dialog-grid .tableGrid_menuBar {
	position: fixed;
}

.sampleTableBody, .fileTableBody {
  cursor: default;
  user-select: none; 
}
.fileTableBody, .sampleTableBody td {
  text-align: center;
}

.fileTableBody td a {
  cursor: pointer;
}

.selectRow {
  background-color: yellow;
}
.delete-icon {
  cursor: pointer;
  color: red;
}
.tableIndexGrid {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.tableindexList {
  width: 300px;
  max-height: 90px;
  margin-top: 10px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 2px;
  padding: 0px;
}

.tableindexList li{
  background-color: #f0f0f0;
  height: 14px;
  padding: 5px;
  border: 1px solid #ccc;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;   
}

.indexcolumnul {
  list-style: none;
  width: 300px;
  padding: 0px;
}

.indexcolumnul li {
  display: inline-block;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: grab; 
  margin: 3px;
  padding-left: 4px;
}

.tab-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab {
  margin: 5px;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.tab.active {
  background-color: #007BFF;
  color: #fff;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

.tab-content button {
  margin-right: 5px;
}

.tab-logger {
  height: 300px;
  width: 99%;
  overflow: scroll;
  font-size: 11px;
  border: 1px solid rgb(192, 186, 186);
  padding: 5px;  
  margin-top: 10px;
  line-height: 1.5;
}
.tab-logger textarea, table {
  width: 100%;
}
.tab-logger  table {
  border-collapse: collapse;
}

.sql-keyword { color: blue; }
.sql-string { color: green; }		
.log-span {
  display: block;
  margin-bottom: 5px;
}
.sql-formatted {
 margin:0px;
}
.log-error {
  color: #007BFF;
}

.hide {
  display: none;
  stroke: none;
  width: 0px;
}	

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animationed-rect {
  animation: keyframesRemoveEntity 2s forwards;
}

/* 애니메이션 키프레임 정의 */
@keyframes keyframesRemoveEntity {
  to {
    width: 20px;
    height: 10px;
  }
}


.erd9Dialog-300{
	font-size: 11px;
	width: 100%;
  height: 300px;
  overflow: auto;	
  border: 1px solid;    
}

.print-size {
  width: 45px;
  margin: 0px 10px;;
  font-size: 10pt;
}

.previewImg {
  display: inline-block;
  position: relative;
  margin: 1px;
  border: 1px solid gray;
  opacity: 0.4;
  background-size: cover;
}

.previewImg:hover .printMenuDiv {
  display: block;
}

.printMenuDiv {
  position: absolute;
  width: 60px;
  height: 26px;
  background-color: transparent;
  _border: 1px solid gray;
  display: none;
  top: 70%;
  left: calc(50% - 25px);
  animation: previewImgKeyframes 1s 1 ;
}
@keyframes previewImgKeyframes {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

.printImgButton{
  width: 24px;
  height: 24px;
  margin: 0px 2px;
  background-image: url("images/svg/printing-page.svg");
  display: inline-block;
}
.downloadImgButton{
  width: 24px;
  height: 24px;
  margin: 0px 2px;
  background-image: url("images/svg/cloud-download.svg");
  display: inline-block;
}

.inputRow {
  padding: 2px;
}

.inputApiKey {
  width: 400px;
  margin: 5px 5px 5px 0px;
}

.inputQuestion{
  width: 620px;
  height: 50px;
}

.sendMessage{
  position: relative;
  top: -8px;
  margin-left: 5px;
}

.chatGPT-logger {
  height: 250px important!;
}
/* .tab-logger textarea, table {
  width: 100%;
}
.tab-logger  table {
  border-collapse: collapse;
} */

.floatingMenu {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 10;
font-size: 25px;
}
.floatingMenu i {
  color: white;
  font-size: 24px;
}
.chatBox {
  position: fixed;
  bottom: 120px;
  right: 50px;
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  padding: 10px;
  z-index: 999;
font-size: 11px;
}
.optionGroup {
  margin-bottom: 10px;
}

.optionGroup input {
  margin-right: 5px;
}

#optionGroup2 {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 2px 5px 5px 5px;
}

.chatInput {
  display: flex;
  margin-top: 10px;
}
.chatInput input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}
.chatInput button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.chatMessage{
  width: 235px;
  height: 50px;
  margin-right: 5px;
}
